body{
    background-color: #e8e8e8;
}

.container{
    padding: 5px;
    background-color: #f4f4f4;
    margin: 0 300px 0 300px;
    border: black 5px solid;
    height: 800px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7);
}
.header{
    text-align: center;
    font-size: 2.5em;
    

}
.main{
    display: flex;
    padding: 2em;
    height: 90vh;
    justify-content: center;
    align-items: middle;
}
.clockbox,
#clock{
height: 100%;
}

.circle{
    fill: none;
    stroke:  dodgerblue;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.mid-marks{
    fill: #000;

}

.hour-marks{
    fill: none;
    stroke: #000;
    stroke-width: 9;
    stroke-miterlimit: 10;
}

.hour-arm{
    fill: none;
    stroke: dodgerblue;
    stroke-width: 17;
    stroke-miterlimit: 10;
}

.minute-arm{
    fill: none;
    stroke: rgba(0, 110, 255, 0.596);
    stroke-width: 11;
    stroke-miterlimit: 10;
}

.second-arm{
    fill: none;
    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10;
}
.sizing-box{
    fill: none;
}

#hour,
#minute,
#second{
    transform-origin:  300px 300px;
    transition: transform .5s ease-in-out

}